/* Imports and other stuff */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Sizing attributes */
* {
  box-sizing: border-box;
}

body{
  padding: 46px 0;
  height: 100vh;
}

/* Layout and diagramation */

body {
  flex-direction: column;
}

ul.💪 {
  gap: 24px;
}

footer, .s1 {
  flex: 0;
}

.💪{
  display: flex;  
}

.s2{
  flex: 1.5;
}

.s4,
.s3  {
  flex: 1;
}

.s4 {
  justify-content: center;
  flex-direction: column;
}

.s1-header
{
  justify-content: space-between;
}

.s1-hero {
  justify-content: space-between;
  align-items: center;
}

.s1-text {
  flex-direction: column;
  align-items: flex-start;
}

.s1-ph {
  justify-content: center;
  align-items: center;
}

.s2-cards {
  justify-content: center;
  flex-wrap: wrap;
  gap: 58px;
}

.s4-container {
  justify-content: space-between;
  align-items: center;
}

/* General Stylings */

body{
  font-family: Roboto, sans-serif;
  background-color: rgba(0, 0, 0, 0.774);
}

footer {
  text-align: center;
}

h1,
h2,
h3,
footer,
p {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  color: #e5e7eb;
}

footer, p, a
{
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 8px 24px;
  border-radius: 6px;
  border: none;
}

/* Sections General stylings */

footer,
.s1 {
  background-color: #1f2937;
}

.s2, .s4 {
  background-color: #f9faf8;
}

.s3 {
  background-color: #e5e7eb;
}

footer,
.s1,
.s2,
.s3,
.s4 {
  width: 1600px;
  margin: 0 auto;
  padding: 32px 250px;
}

/* Section 1 specific stylings */

.s1-hero {
  margin: 100px auto;
}

.s1-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.s1-text h1 {
  width: 400px;
}

.s1-text p {
  width: 450px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.s1-ph {
  background-color: grey;
  width: 550px;
  height: 260px;
}

/* Section 2 specific stylings */

.s2-card,
.s2-cimg {
  width: 180px;
}

.s2-cimg {
  border: 4px solid #3882f6;
  border-radius: 16px;
  height: 180px;
  margin-bottom: 8px;
}

.s2 p {
  color: grey;
}

.s2 h2,
.s2 p {
  text-align: center;
}

.s2 h2 {
  margin-top: 24px;
  margin-bottom: 56px;
}

/* Section 3 specific stylings */

.s3 h2 {
  font-style: italic;
  font-weight: 300;
}

.s3 p {
  font-weight: bold;
  font-size: 24px;
  color: #1f2937;
  text-align: right;
}

/* Section 4 specific stylings */

.s4-container,
.s4-text {
  background-color: #3882f6;
}

.s4-container {
  border-radius: 8px;
  padding: 48px 110px;
}

.s4 button {
  border: 2px solid #e5e7eb;
}
